<a href="https://colab.research.google.com/github/DereAbdulhameed/Machine-Learning-Methods/blob/main/Naive_Bayes_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import necessary libraries
import pandas as pd
import numpy as np

In [5]:
dir = 'https://raw.githubusercontent.com/DereAbdulhameed/Machine-Learning-Methods/main/Naive%20Bayes/survey_lung_cancer.csv'
data = pd.read_csv(dir)

In [6]:
data.head()

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENDER                 309 non-null    object
 1   AGE                    309 non-null    int64
 2   SMOKING                309 non-null    int64
 3   YELLOW_FINGERS         309 non-null    int64
 4   ANXIETY                309 non-null    int64
 5   PEER_PRESSURE          309 non-null    int64
 6   CHRONIC DISEASE        309 non-null    int64
 7   FATIGUE                309 non-null    int64
 8   ALLERGY                309 non-null    int64
 9   WHEEZING               309 non-null    int64
 10  ALCOHOL CONSUMING      309 non-null    int64
 11  COUGHING               309 non-null    int64
 12  SHORTNESS OF BREATH    309 non-null    int64
 13  SWALLOWING DIFFICULTY  309 non-null    int64
 14  CHEST PAIN             309 non-null    int64
 15  LUNG_CANCER            309 non-null    object
dtypes: int64(14), object(2)
memory usage: 38.8+ KB

In [9]:
from sklearn.preprocessing import LabelBinarizer

In [10]:
lb = LabelBinarizer()

In [11]:
data['GENDER'] = lb.fit_transform(data['GENDER'])
data['LUNG_CANCER'] = lb.fit_transform(data['LUNG_CANCER'])

In [13]:
data['GENDER'].head()

0    1
1    1
2    0
3    1
4    0
Name: GENDER, dtype: int64

#**Model** **Building**

In [15]:
from sklearn.model_selection import train_test_split

In [ ]:
X = data.drop('LUNG_CANCER', axis=1)
y = data['LUNG_CANCER']

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 0.2, random_state= 42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(247, 15)
(62, 15)
(247,)
(62,)

In [25]:
# Import Guassian Naive Bayes Model
from sklearn.naive_bayes import MultinomialNB
# create a Guassian classifier
model = MultinomialNB()

In [26]:
# train the model using the training set
model.fit(X_train, y_train)
# predict output
y_pred = model.predict(X_test)

In [28]:
y_pred[:5]

array([1, 1, 1, 1, 1])

In [29]:
from sklearn.metrics import confusion_matrix

In [30]:
confusion_matrix(y_test, y_pred)

array([[ 0,  2],
       [ 0, 60]])

In [31]:
print("Number of mislabeled points out of a total %d points : %d"% (X_test.shape[0], (y_test != y_pred).sum()))

Number of mislabeled points out of a total 62 points : 2

In [33]:
# Calculating accuracy score
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)

In [34]:
# accuracy in %
accuracy * 100

96.7741935483871